<script id="announcement-template" type="text/template">
    <a class="announcement no-href" onclick="$('#modal-${aid}').modal('show');">${title}</a>

    <div class="ui modal" id="modal-${aid}">
        <i class="close icon"></i>
        
        <div class="header">
            ${title}
            <span class="ui grey text" style="font-weight: 300;"> #${aid}</span>
        </div>

        <div class="scrolling content">
            $${content}
        </div>

        <div class="actions">
            <div class="ui positive right labeled icon button">
            чбошод
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</script>