<div id="editor"></div>

<script>
    const vditor = new Vditor("editor", {
        height: 160,
        toolbar: [
            "upload",
            "record",
            "|",
            "undo",
            "redo",
            "|",
            "fullscreen",
            {
                name: "more",
                toolbar: [
                    "both",
                    "edit-mode",
                    "export",
                    "outline",
                    "preview"
                ],
            },
        ],
        toolbarConfig: {
            pin: true
        },
        resize: {
            enable: true
        },
        tab: "    ",
        preview: {
            math: {
                inlineDigit: true
            }
        }
    });
</script>