<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height grid">
            <div class="three wide column">
                <h4 class="ui inverted header">关于</h4>
                <div class="ui inverted link list">
                    <a href="/sitemap" class="item">站点地图</a>
                    <a href="/contact-us" class="item">联系我们</a>
                    <a href="/help" class="item">帮助中心</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">社区</h4>
                <div class="ui inverted link list">
                    <a href="/social-rules" class="item">社区规则</a>
                    <a href="https://github.com/jwcub/polygen" class="item">开源仓库</a>
                    <a href="https://jq.qq.com/?_wv=1027&k=4ngo8TrD" class="item">官方 QQ 群</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Copyright © 2022 polygen</h4>
                <p>This page is licensed under the <a href="https://unlicense.org/">Unlicense</a>.</p>
            </div>
        </div>
    </div>
</div>