<div class="ui large top borderless fixed menu">
    <div class="ui container">
        <div class="header item">
            <span style="font-weight: 600; font-size: 1.5em;">polygen</span>
        </div>

        <a class="item {{#if home}} active {{/if}}" href="/">
            <i class="home icon"></i>首页
        </a>
        <a class="item {{#if game}} active {{/if}}" href="/game">
            <i class="chess queen icon"></i>游戏
        </a>
        <a class="item {{#if leaderboard}} active {{/if}}" href="/leaderboard">
            <i class="signal icon"></i>排行榜
        </a>
        <a class="item {{#if webadmin}} active {{/if}}" href="/webadmin">
            <i class="tachometer alternate icon"></i>管理后台
        </a>

        <a class="toc item hidden">
            <i class="sidebar icon"></i>
        </a>

        {{#if username}}
        <div class="right menu">
            <div class="ui simple dropdown item">
                {{ username }} <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/user/{{ username }}">
                        <i class="user icon"></i>主页
                    </a>
                    <a class="item" href="/setting">
                        <i class="cog icon"></i>设置
                    </a>

                    <div class="divider"></div>

                    <a class="item" onclick="$.post('/logout', {}, _ => window.location.reload())"
                        style="color: red !important">
                        <i class="sign out alternate icon"></i>登出
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="right menu">
            <div class="item">
                <a class="ui button" href="/login">登录</a>
            </div>
            <div class="item">
                <a class="ui primary button" href="/register">注册</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>