<script id="post-template" type="text/template">
    <div class="event">
        <div class="label">
            <img src="/img/defaultAvatar.jpg">
        </div>
        <div class="content">
            <div class="summary">
                <a class="user">$${author}</a>
                发布了说说
                <div class="date" title="${realTime}">${deltaTime}</div>
            </div>

            <div class="extra text">
                {@if home}
                <a href="/post/${pid}" style="color: unset;">
                    <div class="post-content">$${content}</div>
                </a>
                {@else}
                <div class="post-content" style="max-height: none; overflow-y: hidden;">
                    $${content}
                </div>
                {@/if}
            </div>

            <div class="meta">
                <a class="comment">
                <i class="comment icon"></i>${commentAmount}评论
                </a>
            </div>
        </div>
    </div>
</script>