<script id="post-template" type="text/template">
    <div class="event {@if shadow}grow-shadow{@/if}">
        <a class="label" href="/user/${author}">
            <img src="/usercontent/avatar/${author}.jpg">
        </a>
        <div class="content">
            <div class="summary">
                <a href="/user/${author}">${author}</a>
                <div class="date" title="${realTime}">${deltaTime}</div>
            </div>

            <div class="extra text">
                {@if home}
                <a href="/post/${pid}">
                    <object>
                        <div class="post-content">$${content}</div>
                    </object>
                </a>
                {@else}
                <div class="post-content" style="max-height: none;">
                    $${content}
                </div>
                {@/if}
            </div>

            <div class="meta">
                <a><i class="eye icon"></i>${viewCount}</a>
                <a><i class="comment icon"></i>${commentAmount}</a>
                <a class="like">
                    <i class="like icon"></i>${likes}
                </a>
            </div>
        </div>
    </div>
</script>