<script id="post-template" type="text/template">
    <article class="polygen-item post {@if comment}comment{@/if}">
        <header class="post-header">
            $${author}

            <time data-bs-toggle="tooltip" data-bs-placement="bottom" title="${realTime}">${deltaTime}</time>
            ${commentAmount}评论

            <div class="post-toolbar">
                <a class="modify-post no-href">修改</a>
                <a class="delete-post no-href">删除</a>
            </div>
        </header>

        {@if comment}
        <a href="/post/${pid}" style="color: unset;">
            <object class="post-content">$${content}</object>
        </a>
        {@else}
        <object class="post-content" style="max-height: none; overflow-y: hidden;">
            $${content}
        </object>
        {@/if}
    </article>
</script>