<div class="ui vertical inverted sidebar menu left">
    <a class="item {{#if home}} active {{/if}}" href="/">首页</a>
    <a class="item {{#if game}} active {{/if}}" href="/game">游戏</a>
    <a class="item {{#if leaderboard}} active {{/if}}" href="/leaderboard">排行榜</a>
    <a class="item {{#if webadmin}} active {{/if}}" href="/webadmin">管理后台</a>
</div>