<div class="col-sm">
    <div class="polygen-item">
        <h5 class="module">公告</h5>
        <div id="announcement">
            <div class="spinner-border"></div>

            {{> announcement}}
        </div>
    </div>
</div>