#ongoing-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.room {
    padding: 6px;
}

.room-header {
    padding: 10px 15px;
    line-height: 1.2;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.header-waiting {
    color: #5eb95e;
    background-color: rgba(94, 185, 94, .15);
}

.bg-waiting {
    background-color: #5eb95e;
}

.header-ongoing {
    color: #297fff;
    background-color: rgba(41, 127, 255, .15);
}

.bg-ongoing {
    background-color: #0d6efd;
}

.room-content {
    background: white;
    font-size: 14px;
    padding: 15px;
}