.hidden {
    display: none !important;
}

.footer.segment {
    padding: 5em 0em;
}

.footer .three.wide.column {
    max-width: 40%;
}

.main.grid.container {
    margin: 3em;
}

.main.text.container {
    margin-top: 5em;
    margin-bottom: 3em;
}

.pusher {
    overflow: hidden;
    min-height: 100%;
}

.slideUp {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform .3s ease-out;
}

.slideDown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform .3s ease-out;
}

@media only screen and (max-width: 700px) {
    .fixed.menu>.ui.container>.item {
        display: none !important;
    }

    .fixed.menu>.ui.container>.toc {
        display: unset !important;
    }
}