.hidden {
    display: none !important;
}

.footer.segment {
    padding: 5em 0em;
}

.footer .three.wide.column {
    max-width: 40%;
}

.main.grid.container {
    margin: 3em;
}

.main.text.container {
    margin-top: 5em;
    margin-bottom: 3em;
}

.pusher {
    overflow: hidden;
    min-height: 100%;
}

@media only screen and (max-width: 700px) {
    .fixed.menu>.ui.container>.item {
        display: none !important;
    }

    .fixed.menu>.ui.container>.toc {
        display: unset !important;
    }
}