.post-meta {
    padding: 10px 15px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    font-size: 14px;
}

.post-content {
    max-height: 200px;
    display: block;
    overflow-y: auto;
    background: white;
    padding: 15px;
}

.post-time {
    color: #999;
}

p {
    margin-bottom: auto;
}

#load-more {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}