.post-content {
    max-height: 200px;
    display: block;
    overflow-y: auto;
}

.extra.text {
    max-width: none !important;
}

.comments {
    max-width: none !important;
}

.event>.content {
    overflow-x: overlay;
}

.comment {
    overflow-wrap: anywhere;
}

.sticky {
    z-index: unset !important;
}