<!DOCTYPE html>
<html lang="zh">

<head>
    <title>登录 - polygen</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/login.js"></script>
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/algorithm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light p-3 border-bottom fixed-top">
        <div class="container-fluid d-flex flex-wrap">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="/">
                    <img src="/img/polygen.png" alt="logo" width="120">
                </a>

                <li class="nav-item">
                    <a class="nav-link disabled" href="/login">
                        <i class="fa fa-sign-in"></i>
                        登录
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/register">
                        <i class="fa fa-user-plus"></i>
                        注册
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="container" class="container polygen-item polygen-main">
        <h2>登录</h2>
        <form id="login">
            <div class="mb-3 mt-3">
                <input id="username" type="username" class="form-control" placeholder="用户名" name="username">
            </div>
            <div class="mb-3">
                <input id="password" type="password" class="form-control" placeholder="密码" name="password">
            </div>

            <button id="submit" type="button" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                登录
            </button>
        </form>
    </div>
</body>

</html>