<!DOCTYPE html>
<html lang="zh">

<head>
    <title>错误 - polygen</title>

    {{> prelude }}
</head>

<body>
    {{> sidebar-nav }}

    <div class="pusher">
        {{> nav }}

        <div class="ui main text container">
            <div style="margin: inherit;">
                <h1>{{status}}</h1>
                <p>3 秒后将返回上一页</p>
            </div>
        </div>

        {{> footer }}
    </div>

    <script>
        setTimeout(() => window.history.back(), 3000);
    </script>
</body>

</html>