<!DOCTYPE html>
<html lang="zh">

<head>
    <title>错误 - polygen</title>
    
    {{> prelude }}
</head>

<body>
    {{> nav}}

    <div class="polygen-main">
        <div class="polygen-item">
            <h1>{{status}}</h1>

            <span>3 秒后将返回上一页</span>
        </div>
        <script>
            setTimeout(() => window.history.back(), 3000);
        </script>
    </div>
</body>

</html>