<!DOCTYPE html>
<html lang="zh">

<head>
    <title>错误 - polygen</title>
    <script src="https://cdn.staticfile.org/pace/1.2.4/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/pace/1.2.4/themes/blue/pace-theme-minimal.min.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link href="/css/index.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light p-3 border-bottom fixed-top">
        <div class="container-fluid d-flex flex-wrap">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="/">
                    <img src="/img/polygen.png" alt="logo" width="120">
                </a>
            </ul>
        </div>
    </nav>

    <div class="polygen-main">
        <div class="polygen-item">
            <h1>{{status}}</h1>

            <span>3 秒后将返回上一页</span>
        </div>
        <script>
            setTimeout(() => window.history.back(), 3000);
        </script>
    </div>
</body>

</html>