<!DOCTYPE html>
<html lang="zh">

<head>
    <title>大厅 - polygen</title>

    {{> prelude }}
    {{> renderer }}

    <script src="/js/game.min.js"></script>
</head>

<body>
    {{> sidebar-nav }}

    <div class="pusher">
        {{> nav }}

        <div class="ui main stackable grid container">
            <div class="eleven wide column">
                <h3>加入房间</h3>
                <table class="ui celled selectable unstackable table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>模式</th>
                            <th>地图</th>
                            <th>玩家</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{> room }}
                    </tbody>
                </table>
            </div>

            <div class="five wide column">
                <h3>创建房间</h3>
            </div>
        </div>

        {{> footer }}
    </div>
</body>

</html>