<!DOCTYPE html>
<html lang="zh">

<head>
    <title>首页 - polygen</title>

    {{> prelude }}
    {{> editor }}

    <script src="/js/index.min.js"></script>
</head>

<body>
    {{> sidebar-nav }}

    <div class="pusher">
        {{> nav }}

        <div class="ui main stackable grid container">
            <div class="twelve wide column">
                {{> vditor }}
            </div>
            <div class="four wide column">
                <h4 class="ui top attached block header">本站公告</h4>
                <div class="ui bottom attached segment">
                    <div class="ui active centered inline loader"></div>
                </div>
            </div>
        </div>

        {{> footer }}
    </div>
</body>

</html>