<!DOCTYPE html>
<html lang="zh">

<head>
    <title>首页 - polygen</title>

    {{> prelude }}
    {{> renderer }}

    <script src="/js/index.min.js"></script>
    <link rel="stylesheet" href="/css/sidebar.min.css">
    <link rel="stylesheet" href="/css/post.min.css">
</head>

<body>
    {{> sidebar-nav }}

    <div class="pusher">
        {{> nav }}

        <div class="ui main stackable grid container">
            <div class="twelve wide column">
                <div class="ui large feed">
                    {{#if username}}
                    <div class="event">
                        <a class="label" href="/user/{{ username }}">
                            <img src="/usercontent/avatar/{{ username }}.jpg">
                        </a>
                        <div class="content">
                            <div class="summary">
                                <a href="/user/{{ username }}">{{ username }}</a>
                            </div>

                            <div class="extra text">
                                {{> editor }}

                                <br>

                                <div class="ui labeled primary icon button">
                                    <i class="icon edit"></i> 发布说说
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/if}}

                    {{> post }}
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui top attached block header">本站公告</h4>
                <div class="ui bottom attached segment" id="announcement">
                    {{> announcement }}
                </div>
            </div>
        </div>

        {{> footer }}
    </div>
</body>

</html>