<!DOCTYPE html>
<html lang="zh">

<head>
    <title>{{#if login}}登录{{else}}注册{{/if}} - polygen</title>

    {{> prelude }}

    <script src="/js/{{#if login}}login{{else}}register{{/if}}.min.js"></script>
    <link href="/css/session.min.css" rel="stylesheet">
</head>

<body>
    {{> nav }}

    <div id="container" class="auth-box">
        <div class="auth-card">
            <form class="auth-form">
                <img src="/img/polygen.png">

                <div class="auth-gruop">
                    <div class="mb-2 mt-3">
                        <label for="username" class="form-label">用户名</label>
                        <div class="auth-group">
                            <input id="username" type="username" class="form-control" placeholder="用户名" name="username">
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label">密码</label>
                        <div class="auth-group">
                            <input id="password" type="password" class="form-control" placeholder="密码" name="password">
                        </div>
                    </div>

                    {{#unless login}}
                    <div class="mb-2">
                        <div class="auth-group">
                            <input id="password2" type="password" class="form-control" placeholder="再次输入密码">
                        </div>
                    </div>
                    {{/unless}}

                    <div class="mb-3">
                        <label for="captcha" class="form-label">验证码</label>
                        <div class="auth-group">
                            <input id="captcha" type="text" class="form-control" placeholder="验证码">
                            &nbsp;
                            <img src="/api/captcha" class="captcha"></img>
                        </div>
                    </div>

                    <button id="submit" type="button" class="btn btn-primary auth-sumbit">
                        <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                        {{#if login}}登录{{else}}注册{{/if}}
                    </button>
                    <hr>
                </div>

                <div style="font-size: 0.875em;">
                    {{#if login}}
                    <span>没有账号？</span>
                    <a href="/register">注册</a>
                    {{else}}
                    <span>已有账号？</span>
                    <a href="/login">登录</a>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</body>

</html>