<!DOCTYPE html>
<html lang="zh">

<head>
    <title>{{#if login}}登录{{else}}注册{{/if}} - polygen</title>

    {{> prelude }}

    <script src="/js/{{#if login}}login{{else}}register{{/if}}.min.js"></script>
    <link href="/css/session.min.css" rel="stylesheet">
</head>

<body>
    {{> sidebar-nav }}

    <div class="pusher">
        {{> nav }}

        <div class="ui main text container">
            <div class="auth-box">
                <form class="ui large form">
                    <div class="ui stacked">
                        <div class="field" style="text-align: center;">
                            <img src="/img/polygen.png">
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="username" id="username" placeholder="用户名">
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password" placeholder="密码">
                            </div>
                        </div>

                        {{#unless login}}
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password2" placeholder="再次输入密码">
                            </div>
                        </div>
                        {{/unless}}

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="check icon"></i>
                                <input id="captcha" type="text" placeholder="验证码">
                                <img src="/api/captcha" class="captcha"></img>
                            </div>
                        </div>

                        <div class="ui fluid large primary submit button">
                            {{#if login}}登录{{else}}注册{{/if}}
                        </div>

                        <div class="field" style="text-align: center">
                            <hr>
                            <div style="font-size: 0.875em;">
                                {{#if login}}
                                没有账号？
                                <a href="/register">注册</a>
                                {{else}}
                                已有账号？
                                <a href="/login">登录</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {{> footer }}
    </div>
</body>

</html>